# Diretórios de build/artefatos
build/
**/build/
out/
dist/
*.log

# ModelSim/Questa / GTKWave
transcript
vsim.wlf
*.wlf
*.vcd
*.fst
work/
questa_lib/
modelsim.ini
vsim.dbg

# Vivado / Xilinx
*.xpr
*.runs/
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.str
*.dcp
*.jou
*.log
*.rpt
*.ltx

# Quartus / Intel
*.qpf
*.qsf
db/
incremental_db/
output_files/
simulation/modelsim/
*.sof
*.pof
*.jic

# Altera/Intel intermediários comuns
*.smsg
*.chg

# Arquivos temporários/comuns
*.tmp
*.temp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# VSCode / IDEs
.vscode/
.idea/
